/var
/media
/app/etc/local.xml
/.idea
/app/code/local/Aschroder
/app/etc/modules/Aschroder_SMTPPro.xml
/app/locale/en_US/Aschroder_SMTPPro.csv
/app/locale/fr_FR/Aschroder_SMTPPro.csv
/app/locale/nl_NL/Aschroder_SMTPPro.csv
/app/locale/pt_BR/Aschroder_SMTPPro.csv
/downloader/.cache