<?xml version="1.0"?>
<!--
/**
 * Ecomitize_Footernav
 *
 * @package    Ecomitize_All
 * @author     Ecomitizet Magento Team <>
 * @copyright  Copyright (c) 2015 Ecomitize http://www.ecomitize.com
 */
-->
<config>
    <modules>
        <Ecomitize_Footernav>
            <version>0.1.0</version>
        </Ecomitize_Footernav>
    </modules>
    <global>
        <blocks>
            <ecomitize_footernav>
                <class>Ecomitize_Footernav_Block</class>
            </ecomitize_footernav>
            <catalog>
                <rewrite>
                    <product_list>Ecomitize_Footernav_Block_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <ecomitize_footernav>
                <class>Ecomitize_Footernav_Helper</class>
            </ecomitize_footernav>
        </helpers>
        <models>
            <ecomitize_footernav>
                <class>Ecomitize_Footernav_Model</class>
            </ecomitize_footernav>
            <catalog>
                <rewrite>
                    <layer>Ecomitize_Footernav_Model_Layer</layer>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_price>Ecomitize_Footernav_Model_Resource_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <ecomitize_footernav_setup>
                <setup>
                    <module>Ecomitize_Footernav</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ecomitize_footernav_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <offers>
                <use>standard</use>
                <args>
                    <module>Ecomitize_Footernav</module>
                    <frontName>offers</frontName>
                </args>
            </offers>
        </routers>
        <layout>
            <updates>
                <ecomitize_footernav>
                    <file>ecomitize_footernav.xml</file>
                </ecomitize_footernav>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_cache_massRefresh>
                <observers>
                    <assign_products_to_featured_categories>
                        <class>ecomitize_footernav/observer</class>
                        <type>singleton</type>
                        <method>assignProductsToFeaturedCategories</method>
                    </assign_products_to_featured_categories>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massRefresh>
        </events>
    </adminhtml>
</config>