<?xml version="1.0"?>
<!--
/**
 * Zen_Footernav
 *
 * @package    Zen_All
 * @author     Zent Magento Team <>
 * @copyright  Copyright (c) 2015 Zen http://www.zen.com
 */
-->
<config>
    <modules>
        <Zen_Footernav>
            <version>0.1.1</version>
        </Zen_Footernav>
    </modules>
    <global>
        <blocks>
            <zen_footernav>
                <class>Zen_Footernav_Block</class>
            </zen_footernav>
            <catalog>
                <rewrite>
                    <product_list>Zen_Footernav_Block_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <zen_footernav>
                <class>Zen_Footernav_Helper</class>
            </zen_footernav>
        </helpers>
        <models>
            <zen_footernav>
                <class>Zen_Footernav_Model</class>
            </zen_footernav>
            <catalog>
                <rewrite>
                    <layer>Zen_Footernav_Model_Layer</layer>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_price>Zen_Footernav_Model_Resource_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <zen_footernav_setup>
                <setup>
                    <module>Zen_Footernav</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </zen_footernav_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <offers>
                <use>standard</use>
                <args>
                    <module>Zen_Footernav</module>
                    <frontName>offers</frontName>
                </args>
            </offers>
        </routers>
        <layout>
            <updates>
                <zen_footernav>
                    <file>zen_footernav.xml</file>
                </zen_footernav>
            </updates>
        </layout>
    </frontend>
    <!--<adminhtml>-->
        <!--<events>-->
            <!--<controller_action_predispatch_adminhtml_cache_massRefresh>-->
                <!--<observers>-->
                    <!--<assign_products_to_featured_categories>-->
                        <!--<class>zen_footernav/observer</class>-->
                        <!--<type>singleton</type>-->
                        <!--<method>assignProductsToFeaturedCategories</method>-->
                    <!--</assign_products_to_featured_categories>-->
                <!--</observers>-->
            <!--</controller_action_predispatch_adminhtml_cache_massRefresh>-->
        <!--</events>-->
    <!--</adminhtml>-->
</config>