<?xml version="1.0"?>
<config>
    <modules>
        <Ecomitize_Cmspages>
            <version>0.0.1</version>
        </Ecomitize_Cmspages>
    </modules>
    <frontend>
        <routers>
            <Ecomitize_Cmspages>
                <use>standard</use>
                <args>
                    <module>Ecomitize_Cmspages</module>
                    <frontName>cmspages</frontName>
                </args>
            </Ecomitize_Cmspages>
        </routers>
    </frontend>
    <global>
        <blocks>
            <ecomitize_cmspages>
                <class>Ecomitize_Cmspages_Block</class>
            </ecomitize_cmspages>
        </blocks>
        <helpers>
            <ecomitize_cmspages>
                <class>Ecomitize_Cmspages_Helper</class>
            </ecomitize_cmspages>
        </helpers>
        <models>
            <ecomitize_cmspages>
                <class>Ecomitize_Cmspages_Model</class>
            </ecomitize_cmspages>
        </models>
    </global>
</config>