<?xml version="1.0"?>
<config>
    <modules>
        <Ecomitize_Accordeoncontent>
            <version>0.0.1</version>
        </Ecomitize_Accordeoncontent>
    </modules>
    <frontend>
        <routers>
            <Ecomitize_Accordeoncontent>
                <use>standard</use>
                <args>
                    <module>Ecomitize_Accordeoncontent</module>
                    <frontName>accordeoncontent</frontName>
                </args>
            </Ecomitize_Accordeoncontent>
        </routers>
    </frontend>
    <global>
        <blocks>
            <ecomitize_accordeoncontent>
                <class>Ecomitize_Accordeoncontent_Block</class>
            </ecomitize_accordeoncontent>
        </blocks>
        <helpers>
            <ecomitize_accordeoncontent>
                <class>Ecomitize_Accordeoncontent_Helper</class>
            </ecomitize_accordeoncontent>
        </helpers>
        <models>
            <ecomitize_accordeoncontent>
                <class>Ecomitize_Accordeoncontent_Model</class>
            </ecomitize_accordeoncontent>
            <widget>
                <rewrite>
                    <widget_instance>Ecomitize_Accordeoncontent_Model_Widget_Widget_Instance</widget_instance>
                </rewrite>
            </widget>
        </models>
        <events>
            <widget_widget_instance_save_before>
                <observers>
                    <ecomitize_accordeoncontent>
                        <class>ecomitize_accordeoncontent/observer</class>
                        <method>saveBefore</method>
                    </ecomitize_accordeoncontent>
                </observers>
            </widget_widget_instance_save_before>
        </events>
    </global>
</config>