<?xml version="1.0"?>
<!--
/**
 *
 * @package    Ecomitize_Sizechart
 * @author     Ecomitizet Magento Team <>
 * @copyright  Copyright (c) 2015 Ecomitize http://www.ecomitize.com
 */
-->
<config>
    <modules>
        <Ecomitize_Sizechart>
            <version>0.1.1</version>
        </Ecomitize_Sizechart>
    </modules>
    <global>
        <models>

        </models>
        <resources>
            <ecomitize_sizechart_setup>
                <setup>
                    <module>Ecomitize_Sizechart</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </ecomitize_sizechart_setup>
        </resources>
        <blocks>

        </blocks>
        <helpers>
            <ecomitize_sizechart>
                <class>Ecomitize_Sizechart_Helper</class>
            </ecomitize_sizechart>
        </helpers>
    </global>
</config>