<?xml version="1.0"?>
<!--
/**
 * Ecomitize_Navigation
 *
 * @package    Ecomitize_All
 * @author     Ecomitizet Magento Team <>
 * @copyright  Copyright (c) 2015 Ecomitize http://www.ecomitize.com
 */
-->
<config>
    <modules>
        <Ecomitize_Navigation>
            <version>1.0.0</version>
        </Ecomitize_Navigation>
    </modules>
    <global>
        <blocks>
            <ecomitize_navigation>
                <class>Ecomitize_Navigation_Block</class>
            </ecomitize_navigation>
        </blocks>
        <blocks>
            <page>
                <rewrite>
                    <html_topmenu>Ecomitize_Navigation_Block_Page_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <models>
            <ecomitize_navigation>
                <class>Ecomitize_Navigation_Model</class>
            </ecomitize_navigation>
        </models>
        <resources>
            <ecomitize_navigation_setup>
                <setup>
                    <module>Ecomitize_Navigation</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecomitize_navigation_setup>
            <ecomitize_navigation_write_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecomitize_navigation_write_setup>
            <ecomitize_navigation_read_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecomitize_navigation_read_setup>
        </resources>
    </global>
</config>
