@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?xm5f8u');
    src:    url('fonts/icomoon.eot?xm5f8u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xm5f8u') format('truetype'),
    url('fonts/icomoon.woff?xm5f8u') format('woff'),
    url('fonts/icomoon.svg?xm5f8u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[type=checkbox] + label:before,
[type=radio] + label:before,
[type=radio] + a:before,
.back-link > a:before,
.form-search .button:before,
.add-to-links a:before,
.social-likes > li .social-likes__icon:before,
.navbar .dropdown > a:before,
.accordion .panel-heading .panel-title > a:before,
.btn[data-toggle="collapse"]:before,
.tabpanel .panel-heading .panel-title > a:before,
.opc-wrapper-opc h3 > span:before,
a[href*='paypal']:before,
a[href*='amazon']:before,
.button.btn-cart > span:before,
.link-print:before {
    font-family: 'icomoon';
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #31a348;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.icon-arrow-down:before {
    content: "\e900";
}
.icon-left:before {
    content: "\e901";
}
.icon-right:before {
    content: "\e902";
}
.icon-arrow-up:before {
    content: "\e903";
}
.icon-cart:before {
    content: "\e904";
}
.icon-checked:before {
    content: "\e905";
}
.icon-close:before {
    content: "\e906";
}
.icon-curve:before {
    content: "\e907";
}
.icon-facebook:before {
    content: "\e908";
}
.icon-grid:before {
    content: "\e909";
}
.icon-list:before {
    content: "\e90a";
}
.icon-email:before {
    content: "\e90b";
}
.icon-more:before {
    content: "\e90c";
}
.icon-close2:before {
    content: "\e90d";
}
.icon-checkmark:before {
    content: "\e90e";
}
.icon-pinterest:before {
    content: "\e90f";
}
.icon-search:before {
    content: "\e910";
}
.icon-arrow-down2:before {
    content: "\e911";
}
.icon-left2:before {
    content: "\e912";
}
.icon-right2:before {
    content: "\e913";
}
.icon-arrow-up2:before {
    content: "\e914";
}
.icon-star:before {
    content: "\e915";
}
.icon-twitter:before {
    content: "\e916";
}
.icon-update:before {
    content: "\e917";
}
.icon-wishlist:before {
    content: "\e918";
}
.icon-edit:before {
    content: "\e91a";
}
.icon-google-plus:before {
    content: "\e91e";
}
.icon-filter:before {
    content: "\e928";
}
.icon-compare:before {
    content: "\e929";
}
.icon-print:before {
    content: "\e92b";
}
.icon-minus:before {
    content: "\e92c";
}
.icon-plus:before {
    content: "\e92d";
}
.icon-amazon:before {
    content: "\e92e";
}
.icon-paypal:before {
    content: "\e92f";
}

.button [class^="icon-"],
.button [class*=" icon-"] {
    color: #fff;
}

/* base icons */

.back-link > a:before {
    content: "\e90d";
}

.form-search .button:before {
    content: "\e801";
}

.add-to-links [href*='wishlist']:before {
    content: "\e911";
}

.add-to-links [href*='compare']:before {
    content: "\e910";
}

.button.btn-cart > span:before {
    content: "\e902";
}

.link-print:before {
    content: "\e912";
    margin-right: 5px;
    top: 1px;
}

/**/