@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700italic,700,900,900italic);

@font-face {
    font-family: 'MicrosoftTaiLe';
    src: url('fonts/MicrosoftTaiLe.eot?#iefix') format('embedded-opentype'),  url('fonts/MicrosoftTaiLe.woff') format('woff'), url('fonts/MicrosoftTaiLe.ttf')  format('truetype'), url('fonts/MicrosoftTaiLe.svg#MicrosoftTaiLe') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rafale-BG';
    src: url('fonts/Rafale-BG.eot');
    src: url('fonts/Rafale-BG.eot?#iefix') format('embedded-opentype'),
    url('fonts/Rafale-BG.woff') format('woff'),
    url('fonts/Rafale-BG.ttf') format('truetype'),
    url('fonts/Rafale-BG.svg#Rafale-BG') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalkboard';
    src: url('fonts/chalkboard.eot');
    src: url('fonts/chalkboard.eot?#iefix') format('embedded-opentype'),
    url('fonts/chalkboard.woff2') format('woff2'),
    url('fonts/chalkboard.woff') format('woff'),
    url('fonts/chalkboard.ttf') format('truetype'),
    url('fonts/chalkboard.svg#chalkboard') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chalkboard';
    src: url('fonts/ufonts.com_chalkboard-bold.eot');
    src: url('fonts/ufonts.com_chalkboard-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ufonts.com_chalkboard-bold.woff2') format('woff2'),
    url('fonts/ufonts.com_chalkboard-bold.woff') format('woff'),
    url('fonts/ufonts.com_chalkboard-bold.ttf') format('truetype'),
    url('fonts/ufonts.com_chalkboard-bold.svg#chalkboard') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?7xksky');
    src:    url('fonts/icomoon.eot?7xksky#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7xksky') format('truetype'),
    url('fonts/icomoon.woff?7xksky') format('woff'),
    url('fonts/icomoon.svg?7xksky#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[type=checkbox] + label:before,
[type=radio] + label:before,
[type=radio] + a:before,
.back-link > a:before,
.form-search .button:before,
.add-to-links a:before,
.social-likes > li .social-likes__icon:before,
.navbar .dropdown > a:before,
.accordion .panel-heading .panel-title > a:before,
.btn[data-toggle="collapse"]:before,
.tabpanel .panel-heading .panel-title > a:before,
.opc-wrapper-opc h3 > span:before,
a[href*='paypal']:before,
a[href*='amazon']:before,
.button.btn-cart > span:before,
.link-print:before {
    font-family: 'icomoon';
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #add750;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.icon-arrow-down:before {
    content: "\e900";
}
.icon-left:before {
    content: "\e901";
}
.icon-right:before {
    content: "\e902";
}
.icon-arrow-up:before {
    content: "\e903";
}
.icon-cart:before {
    content: "\e904";
}
.icon-checked:before {
    content: "\e905";
}
.icon-close:before {
    content: "\e906";
}
.icon-curve:before {
    content: "\e907";
}
.icon-facebook:before {
    content: "\e908";
}
.icon-grid:before {
    content: "\e909";
}
.icon-list:before {
    content: "\e90a";
}
.icon-email:before {
    content: "\e90b";
}
.icon-more:before {
    content: "\e90c";
}
.icon-no:before {
    content: "\e90d";
}
.icon-checkmark:before {
    content: "\e90e";
}
.icon-pinterest:before {
    content: "\e90f";
}
.icon-search:before {
    content: "\e910";
}
.icon-arrow-down2:before {
    content: "\e911";
}
.icon-left2:before {
    content: "\e912";
}
.icon-right2:before {
    content: "\e913";
}
.icon-arrow-up2:before {
    content: "\e914";
}
.icon-star:before {
    content: "\e915";
}
.icon-twitter:before {
    content: "\e916";
}
.icon-update:before {
    content: "\e917";
}
.icon-wishlist:before {
    content: "\e918";
}
.icon-edit2:before {
    content: "\e91b";
}
.icon-google-plus2:before {
    content: "\e91f";
}
.icon-filter2:before {
    content: "\e92a";
}
.icon-compare2:before {
    content: "\e930";
}
.icon-print2:before {
    content: "\e931";
}
.icon-minus2:before {
    content: "\e932";
}
.icon-plus2:before {
    content: "\e933";
}
.icon-amazon2:before {
    content: "\e934";
}
.icon-paypal2:before {
    content: "\e935";
}
.icon-gift:before {
    content: "\e919";
}
.icon-edit:before {
    content: "\e91a";
}
.icon-google-plus:before {
    content: "\e91e";
}
.icon-filter:before {
    content: "\e928";
}
.icon-compare:before {
    content: "\e929";
}
.icon-print:before {
    content: "\e92b";
}
.icon-minus:before {
    content: "\e92c";
}
.icon-plus:before {
    content: "\e92d";
}
.icon-amazon:before {
    content: "\e92e";
}
.icon-paypal:before {
    content: "\e92f";
}

.button [class^="icon-"],
.button [class*=" icon-"] {
    color: #fff;
}

/* base icons */

.back-link > a:before {
    content: "\e90d";
}

.add-to-links [href*='wishlist']:before {aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    content: "\e918";
    color: #dddfe1;
}
    .add-to-links [href*='wishlist']:hover:before {
        color: #ce2127;
    }

.add-to-links [href*='compare']:before {
    content: "\e910";
}

.button.btn-cart > span:before {
    content: "\e902";
}

.link-print:before {
    content: "\e912";
    margin-right: 5px;
    top: 1px;
}

/**/