/* mobile style */

.navbar-toggle {
    width: 20px;
    padding: 0;
    margin: 2px 0 0;
    float: none!important;
}

.navbar-toggle > span {
    display: block;
    background-color: #c7c7c7;
    height: 3px;
    margin: 3px 0;
    border-radius: 2px;
}

@media (max-width: 767px) {

    .wow {
        visibility: hidden;
    }

    body {
        padding: 0!important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1;
    }

    h1 {
        text-align: left;
        margin-bottom: 15px;
    }

    .modal-body {
        padding-right: 40px;
        padding-left: 40px;
    }

    /* content */

    .content {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .index-banners {
        margin: 0 -15px 10px;
    }

    /**/

    /* header */

    .header {
        margin-bottom: 9px;
    }

    .header-inner {
        text-align: center;
        padding: 22px 0 0;
    }

    .header-top {
        display: none;
    }
    .header-top > .container {
        padding: 0;
    }

    .header-inner > .row > .row-height {
        height: auto;
    }

    .header-inner > .row > .row-height > [class*='col-'] {
        display: inline-table !important;
        height: auto;
        text-align: center;
    }
    .header-inner > .row > .row-height > .header-logo {
        text-align: left;
    }

    .header-inner > .row [class*='col-'] {
        padding: 0!important;
    }

    .navbar-header {
        text-align: left;
        padding-left: 20px;
    }

    .logo {
        display: block;
    }

    .dropdown-menu-cart {
        right: -13px !important;
        width: 100vw;
    }

    .minicart-wrapper {
        padding: 20px;
        background-color: #fff;
        width: 100%;
        border-bottom: 1px dashed #cdcdcd;
    }
    .header-minicart .minicart-actions a,
    .header-minicart .minicart-actions button {
        line-height: 35px;
    }

    /**/

    .banners {
        margin-bottom: 10px;
    }

    .main {
        min-height: 0;
    }

    .cms-index-index .main {
        padding-top: 0;
    }
    .cms-index-index .main .std {
        display: none;
    }

    .page ul.pages-accordeon {
        margin-bottom: 15px;
        width: 100%;
    }
    .page .pages-accordeon.tab-content {
        width: 100%;
    }
    body.cms-page-view.cms-help-center table {
        width: 100%;
    }
    .cms-page-view .panel-group .panel .panel-collapse .panel-body {
        padding: 15px 0;
    }

    .checkout-bottom-wrapper {
        display: none !important;
    }

    /* responsive table */

    .data-table,
    .data-table thead,
    .data-table tbody,
    .data-table th,
    .data-table td,
    .data-table tr {
        /*display: block;*/
    }

    .data-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .data-table td {
        border: none;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    .data-table td:first-child {
        fown-width: bold!important;
    }

    .data-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    .data-table td:before {
        content: attr(data-title);
    }

    #checkout-review-table > *:not(tfoot) {
        display: none;
    }

    .review-content-wrap .item-options {
        font-size: 12px;
    }
    .review-content-wrap {}

    /**/

    /* search */

    .header-search {
        margin-top: 14px;
    }

    .form-search {
        margin: 0;
        float: left;
        height: 35px;
        border: 1px solid #cacaca;
        border-radius: 3px;
    }

    .form-search .input-text {
        border-color: transparent!important;
    }
    .form-search .button {
        left: 0;
        border: 1px solid #cacaca;
    }

    .form-search .button:before {
        font-size: 20px;
    }

    /**/

    .col-left {
        display: none;
    }

    .category-description {
        font-size: 14px;
    }

    /* filter button */

    .button-filter {
        margin: 15px 0 0;
        width: 100%;
        height: 43px;
        border-radius: 0;
        background-color: #add750;
        border-color: #add750;
        padding: 0 20px;
        display: none!important;
        font-size: 18px;
        text-align: left;
    }

    .catalog-category-view .button-filter,
    .catalogsearch-result-index .button-filter {
        display: block!important;
    }

    .button-filter:focus {
        background-color: #31a348;
        border-color: #31a348;
    }
    .button-filter.active,
    .button-filter:active,
    .button-filter:hover,
    .button-filter.active:focus {
        background-color: #efab01;
        border-color: #efab01;
    }

    .button-filter > span {
        display: block;
        height: 43px;
        line-height: 43px;
    }

    .button-filter > span > i {
        float: right;
        margin: 0;
        color: #fff !important;
        font-size: 14px;
        top: 13px;
        left: 0;
    }

    /**/

    /* navbar */

    /*.col-left,*/
    .navbar,
    .navbar.affix {
        display: block!important;
        float: none!important;
        margin: 0!important;
        border: 0!important;
        position: absolute;
        z-index: 9999;
        left: 0;
        top: -100%;
        padding: 0;
        width: 100%;
        background-color: #f6f6f6;
        height: auto;
        -webkit-transition: right 0.3s ease-out;
        -moz-transition: right 0.3s ease-out;
        transition: right 0.3s ease-out;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .navbar .navbar-footer .account-nav {
        display: none !important;
    }
    .navbar .navbar-footer li.dropdown > a {
        display: none !important;
    }
    .navbar .navbar-footer li.dropdown ul {
        display: block !important;
        background: none;
    }
    .navbar.footer-nav {
        position: static;
    }

    .navbar .navbar-footer address {
        /*font-size: 16px;
        font-weight: bold;
        color: #2b2e31;
        text-align: center;
        display: block;
        margin: 0 auto;
        text-transform: none;*/
        display: none;
    }

    .navbar .navbar-footer .form-subscribe .form-group label {
        font-size: 16px;
    }

    .navbar.in,
    .navbar-active .open .dropdown-menu.dropdown-menu-cart {
        top: 78px;
    }

    .backdrop,
    #acp-overlay {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .backdrop {
        display: none !important;
        background: #31a348;
        background-size: cover;
    }

    #acp-overlay {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-active #acp-overlay {
        display: none!important;
    }

    button.active-navbar {
        display: block;
        position: fixed;
        z-index: 9999;
        top: -100%;
        width: 20%;
        opacity: 0;
        -webkit-transition: all 1s ease-out!important;
        -moz-transition: all 1s ease-out!important;
        transition: all 1s ease-out!important;
        text-shadow: none;
        background: transparent;
        border: 0;
        font-size: 20px;
    }

    .navbar-active button.active-navbar {
        opacity: 1;
        top: 10px;
        left: 0;
    }

    .navbar-active button.active-navbar > i {
        color: #fff;
    }

    .navbar-active .backdrop,
    #acp-overlay.show {
        visibility: visible;
        opacity: 0.9;
    }

    /*.navbar-active .wrapper {
        overflow: hidden;
        position: fixed;
        z-index: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }*/

    .navbar .dropdown-menu {
        position: relative;
        top: auto;
        border: 0;
        margin: 0;
        float: none !important;
    }

    .navbar ul {
        margin: 0;
        float: none;
    }

    .navbar ul li {
        float: none!important;
        display: block;
        margin: 0;
        padding: 0;
    }
    .navbar ul li.level-top.open {
        padding-left: 18px;
    }

    .navbar ul li a {
        position: relative;
        display: block;
        border: 1px solid #c7c7c7;
        padding: 15px 20px!important;
        margin-bottom: 4px;
        font-size: 12px;
        color: #7585a6;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1!important;
        white-space: normal;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #fff;
    }
    .navbar.footer-nav ul li a {
        padding: 15px 20px !important;
        border: 0;
        background: none;
        font-weight: bold;
        text-decoration: underline;
    }

    .navbar > ul > li > a,
    .navbar > ul > li > a:hover,
    .navbar > ul > li > a:focus {
        font-weight: bold;
        color: #000!important;
        position: relative;
        display: block;
    }

    .navbar ul > li > a:hover,
    .navbar ul > li > a:focus {
        text-decoration: none!important;
    }

    .navbar ul > .open > a,
    .navbar ul > .open > a:hover,
    .navbar ul > .open > a:focus {
        background-color: #efab01 !important;
        border: 0;
        color: #fff!important;
    }

    .navbar .dropdown > a {
        padding-right: 31px!important;
    }

    .navbar .dropdown > a:after {
        content: "\e902";
        position: absolute!important;
        right: 15px;
        top: 50%;
        margin-top: -3px;
        font-size: 12px;
        color: #818181;
    }

    .navbar .open > a:before {

    }

    .navbar .open > a:after {
        content: "\e900";
        font-size: 8px;
        color: #fff !important;
    }

    .navbar .header-top {
        height: 55px;
        width: 100%;
        z-index: 50;
        background-color: transparent !important;
        border: 0 !important;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
    .navbar .header-top .nav,
    .navbar .header-top .links {
        text-align: center;
    }
    .navbar .header-top .nav > li,
    .navbar .header-top .links > li {
        display: table-cell;
        float: none;
    }
    .navbar .header-top .nav > li > a,
    .navbar .header-top .links > li > a {
        padding: 18px 6px !important;
        margin: 0;
        color: #5d5d5d;
        border: 0;
        background-color: transparent;
        font-size: 12px;
        text-decoration: underline;
    }

    .header-top .dropdown > a:after {
        display: none;
    }
    .header-top .nav.nav-inline {
        display: table !important;
        float: none !important;
        width: 100%;
    }


    /* FILTERS */

    #aw-ln-filters-container dd ol li {
        padding: 2px 0 2px 0 !important;
    }

    #aw-ln-filters-container dd ol li,
    #aw-ln-filters-container dd ol li.aw-ln-filters-container-1column-layout {
        width: 40% !important;
    }

    /* END FILTERS */


    /**/

    /* Index Info Block */
    div.index-info-block {
        margin-bottom: 30px;
    }
    .index-info-block .video-frame {
        display: none;
    }
    div.index-info-block p {
        padding: 0;
        margin-bottom: 10px;
        color: #555;
        font-size: 12px;
        text-transform: uppercase;
    }
    div.index-info-block a {
        padding: 0 40px;
        width: 80%;
        font-size: 18px;
        line-height: 43px;
    }
    /* END Index Info Block */

    /* Home page blocks */
    .section-title {
        display: none;
    }
    .index-cat-blocks {
        padding: 0 10px;
    }
    div.index-cat-blocks .hp-cat {
        padding: 0 5px;
        margin-bottom: 10px;
    }
    div.index-cat-blocks a.image .img-label {
        bottom: 24px;
        height: 30px;
        font-size: 12px;
        text-transform: uppercase;
    }
    /* END Home page blocks */

    /* footer */

    div.footer {
        padding-bottom: 0;
    }

    footer .row-footer {
        /*display: flex;
        flex-direction: column-reverse;*/
    }

    footer .footer-left {
        padding: 10px 0;
    }

    footer .last {
    }

    footer .last .last-first {
        padding: 20px;
        background: #e8edf5;
        background-size: cover;
    }

    footer .last .last-last {
        padding-top: 20px;
    }

    footer .last .last-first address {
        font-size: 16px;
        font-weight: bold;
        color: #2b2e31;
        text-align: center;
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer .copyright {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 10px;
    }

    div.footer ul.footer-social {
        width: 100%;
        text-align: center;
    }
    div.footer ul.footer-social > li {
        margin: 0 18px;

    }
    footer .footer-social > li > a > i {
        font-size: 18px;
    }

    .footer-center .contact-line {
        line-height: 2;
    }

    .footer-help-center a {
        font-size: 16px !important;
        line-height: 3;
        text-decoration: underline !important;
    }

    .footer-center a {
        font-size: 13px;
    }
    .footer-center span {
        margin-right: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .form-subscribe .form-group label {
        font-size: 16px;
        font-weight: normal;
        display: block;
        white-space: normal;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    /**/

    /* product item */

    .products-item {
        padding: 10px;
    }

    .products-item .product-name {
        font-weight: normal;
    }

    .products-item p {
        font-size: 12px;
    }

    .products-item .add-to-links {
        top: 21px !important;
        opacity: 1;
    }
    .section-products .tab-content> .tab-pane> a {
        margin-right: 15px;
    }

    /**/

    /* WISHLIST */
    .my-wishlist .products-item {
        padding: 34px 15px 15px;
    }
    .wishlist-item .button-remove i {
        margin-right: 18px;
    }
    .wishlist-item .products-item > .products-item-img {
        margin-bottom: 20px !important;
    }
    .wishlist-item .products-item .product-name a {
        font-weight: 600;
    }
    /* END WISHLIST */

    /* product view */

    .product-view .icon-star {
        font-size: 12px;
    }

    .product-view .product-view-sharing {
        margin-top: 15px;
        text-align: center;
    }

    .product-view .product-view-img {
        position: relative;
        margin: 0 -15px 15px;
    }

    p.product-sku {
        display: none;
    }

    .ratings-bar {
        margin-bottom: 12px;
        text-align: center;
    }
    .ratings-bar .bar {
        padding-right: 12px;
        padding-left: 10px;
        height: 18px !important;
    }
    .ratings-bar .bar,
    .ratings-bar .bar a {
        color: #eeab01;
        font-size: 12px;
    }

    /* filter */

    .block-layered-nav {
        border: 0;
        padding: 15px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .currently {
        margin: 15px 0;
    }

    .currently .nav-panel.nav-filters > li {
        float: none;
        margin-right: 0;
    }

    #narrow-by-list ol > li {
        font-size: 14px;
    }

    .block-layered-nav .block-title,
    #narrow-by-list dt  {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        color: inherit;
        line-height: 1;
    }

    #narrow-by-list dd {
        margin-bottom: 10px;
    }

    .block-layered-nav .block-title strong {
        font-weight: inherit;
        font-size: inherit;
    }

    .form-price h4 {
        margin-top: 0;
    }

    .form-price [class*='col-'].first {
        padding-right: 5px;
    }

    .form-price [class*='col-'].last {
        padding-left: 5px;
    }

    .form-price input {
        text-align: center;
    }

    /**/

    /* section-products */

    .section-products {
        margin: 0 0 15px;
    }

    .section-products {
        margin: 0 -15px;
    }

    .section-products .section-title {
        text-align: left;
        padding-left: 25px;
        padding-right: 25px;
        margin: 20px 0;
    }

    .section-products .carousel .owl-carousel {
        width: 100%;
    }

    .section-products .owl-carousel .owl-stage {

    }

    div.index-tabs .nav > li > a {
        padding: 5px 20px;
    }

    div.index-tabs .tab-content> .tab-pane .owl-stage-outer {
        margin: 0;
    }

    .section-products .owl-carousel .owl-item {
        -webkit-transform: scale(1) !important;
        -moz-transform: scale(1) !important;
        -ms-transform: scale(1) !important;
        -o-transform: scale(1) !important;
        transform: scale(1) !important;
    }

    .section-products.crosssell-product {
        margin-bottom: 15px;
    }

    /**/

    /* tabs */

    .tabpanel .panel-heading .panel-title > a {
        padding-right: 20px;
        position: relative;
    }

    .tabpanel .panel-heading .panel-title > a:before  {
        content: "\e902";
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -5px;
        font-size: 12px;
    }

    .tabpanel .panel-heading .panel-title > a.active:before {
        /*content: "\e900";
        font-size: 8px;*/
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .tabpanel .panel-heading .panel-title > a.active.collapsed:before {
        content: "\e902";
    }

    .section-tab {
        position: relative;
        margin: 0 -15px;
    }

    .section-tab h2,
    .section-tab h3,
    .section-tab h4 {
        text-align: left;
    }

    .section-tab h2:first-child,
    .section-tab h3:first-child,
    .section-tab h4:first-child {
        margin-top: 0;
    }

    .section-tab .panel {
        background-color: transparent;
        border: 0;
    }

    .section-tab .panel-body {
        padding: 13px 20px;
        color: #666c71;
        font-size: 12px;
    }

    .section-tab .tabpanel .panel-group {
        margin: 0;
    }

    .section-tab .tabpanel .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
    }

    .section-tab .tabpanel .panel-heading .panel-title > a {
        display: block;
        position: relative;
        padding: 17px 20px 17px;
        border-radius: 3px;
        line-height: 1;
        text-decoration: none;
        color: #fff;
        background-color: #add750;
    }

    .tabpanel .panel-heading .panel-title > a:after {
        display: block !important;
        content: '';
        position: absolute !important;
        top: 3px;
        left: 4px;
        height: calc(100% - 6px);
        width: calc(100% - 8px);
        border: 2px dashed #fff;
        border-radius: 5px;
    }
    .tabpanel .panel-heading .panel-title > a:before {
        color: #fff;
        right: 13px;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border: 0;
    }

    /**/

    /* modal */

    .modal-ajax .modal-ajax-img {
        text-align: center;
    }

    .modal-ajax .modal-ajax-img img {
        max-width: 100px;
        display: inline-block;
    }

    .modal {
        padding: 0!important;
    }

    .modal .modal-header {
        padding-bottom: 0;
    }

    .modal:not(#accountLogin, #accountCreate) .modal-header h3,
    .modal .modal-header h4 {
        padding: 0;
        font-size: 16px;
        text-transform: none;
    }
    .modal .buttons-set > .f-left {
        margin-bottom: 20px;
    }
    .modal .button {
        padding-right: 42px;
        padding-left: 42px;
        margin: 0;
        height: 43px;
    }
    .modal-footer .btn + .btn,
    .modal-footer .button + .button {
        margin: 0;
        margin-top: 15px;
    }
    .modal-footer a {
        text-decoration: underline;
    }
    .green {
        color: #92b545;
    }

    /**/

    /* pagination */

    .pagination {
        float: none;
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .pagination > li {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }

    .pagination > li > a,
    .pagination > li > span,
    .pagination > li:first-child > a,
    .pagination > li:first-child > span,
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
        height: 47px!important;
        line-height: 47px!important;
    }

    .pagination > li > a,
    .pagination > li > span,
    .pagination > li:first-child > a,
    .pagination > li:first-child > span,
    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
        display: block;
        float: none;
        border: 1px solid #ccc;
        padding: 0;
        height: 35px;
        line-height: 33px;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        background-color: #31a348;
        border-color: #31a348;
        color: #fff;
    }

    /**/

    /* alerts */

    .messages,
    .opc-messages {
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-radius: 0;
        max-width: 100%;
    }

    /**/

    /* hide */
    .slimScrollBar,
    .slimScrollRail,
    .col-sorting-grid,
    .products-item .btn.btn-compare,
    .carousel .carousel-controls,
    .carousel-controls,
    .product-view .product-view-img .product-thumbs,
    .short-description,
    .footer-right-info,
    .category-image,
    .breadcrumb,
    .owl-nav,
    .col-right,
    .header-top .links {
        display: none!important;
    }

    /**/

    .banners .owl-dots {
        bottom: -3px;
    }
    .owl-dots .owl-dot span {
        margin: 8px 4px;
    }

    .top-link-cart i {
        display: none;
    }

    #form-cart .cart-row {
        position: relative;
        padding-bottom: 85px;
    }
    #form-cart .cart-row .col-xs-middle {}
    #form-cart .cart-row .col-quantity,
    #form-cart .cart-row .col-update {
        position: absolute;
        bottom: 15px;
    }
    #form-cart .cart-row .col-quantity {
        left: 50%;
        margin-left: -95px;
        height: 50px;
    }
    #form-cart .cart-row .col-update {
        right: 25px;
        height: 50px;
        min-width: 0 !important;
        /*text-align: center;*/
    }
    #form-cart .cart-row .col-update i {
        position: relative;
        /*display: block;
        text-align: center;*/
    }
    #form-cart .cart-row .col-update i.gift-is:after {
        display: block;
        position: absolute;
        top: -5px;
        left: -6px;
        content: '';
        height: 15px;
        width: 15px;
        border-right: 2px solid red;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #form-cart .cart-row .col-update span.visible-xs {
        display: inline-block !important;
    }
    #form-cart {}

    .ajaxcartpro-box-hide {
        min-width: 285px;
    }

    .cart .cart-row [class*='col-'] {
        display: inline-block;
    }
    .cart .cart-row [class*='col-']:first-child {
        float: left;
        padding: 0;
    }
    .cart .cart-row .close {
        top: auto;
        bottom: 30px;
    }
    .cart .product-image {
        padding: 0;
    }
    .cart-right .paypal-logo > a {
        margin: 0 !important;
        text-align: center;
    }
    .cart-right .button {
        margin: 0 auto 15px;
        width: 80%;
    }
    .cart-checkout:before {
        display: none;
    }
    .cart-checkout .button:after {
         position: absolute;
         display: block;
         content: '';
         top: -25px;
         left: -28px;
         height: 46px;
         width: 55px;
         background: url("../images/butterfly.png") no-repeat 0 0;
         -webkit-background-size: contain;
         background-size: contain;
     }


    .product-view .price-box {
        padding-bottom: 0;
        border: 0;
        text-align: center;
    }
    .product-view h1 {
        text-transform: none;
    }
    .product-img .owl-nav,
    .track .owl-nav,
    .section-products .owl-nav {
        display: block !important;
    }
    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        position: absolute;
        z-index: 991;
        display: block;
        top: 10%;
        bottom: 10%;
        width: 5%;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        text-indent: -9999px;
    }
    .owl-nav .owl-prev {
        left: 0;
        display: block !important;
    }
    .owl-nav .owl-next {
        right: 0;
        display: block !important;
    }
    .owl-nav .owl-prev:before,
    .owl-nav .owl-next:before {
        font-family: 'icomoon';
        display: inline-block;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 26px;
        position: absolute;
        z-index: 99;
        left: 50%;
        top: 50%;
        margin-top: -12px;
        cursor: pointer;
        height: 26px;
        color: #ddd;
        text-indent: 0;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .owl-nav .owl-prev:before {
        content: "\e912";
        margin-left: 7px;
    }
    .owl-nav .owl-next:before {
        content: "\e913";
        margin-left: -22px;
    }
    .product-img .owl-nav {}

    .product-shop .add-to-cart {
        margin-right: 0 !important;
    }

    .product-shop .product-options {
        width: 60%;
    }

    .social-likes {
        width: 100%;
    }
    .social-likes > li > .link-email-friend > span {
        display: none;
    }

    /* SIZE CHARTS */
    .size_chart_table .table-item {
        width: 100%;
    }
    #productSizeChart .modal-header {
        padding-right: 10px;
        padding-left: 10px;
    }
    #productSizeChart .nav-tabs > li > a {
        padding: 10px;
        font-size: 12px;
    }
    #productSizeChart .nav-tabs p {

    }
    /* END SIZE CHARTS */

    .track {
        margin-bottom: 20px;
    }
    .track .track-items li a i,
    .track .track-items li span i {
        display: none;
    }
    .track-items.owl-carousel .owl-stage-outer {
        overflow: visible;
    }
    .track .track-items.owl-carousel li {
        display: block;
    }
    .track-items.owl-carousel .owl-item li a,
    .track-items.owl-carousel .owl-item li span {
        position: relative;
        min-width: 196px;
    }
    .track-items.owl-carousel .owl-item li a:before,
    .track-items.owl-carousel .owl-item li a:after,
    .track-items.owl-carousel .owl-item li span:before,
    .track-items.owl-carousel .owl-item li span:after {
        /*position: absolute;
        top: 6px;
        font-family: 'icomoon';
        display: inline-block;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #939393;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        font-size: 14px;
        content: "\e902";*/
        display: none !important;
    }
    .track-items.owl-carousel .owl-item li a:before,
    .track-items.owl-carousel .owl-item li span:before {
        left: -30px;
    }
    .track-items.owl-carousel .owl-item li a:after,
    .track-items.owl-carousel .owl-item li span:after {
        right: -30px;
    }
    .track-items.owl-carousel .owl-item:first-child li a:before,
    .track-items.owl-carousel .owl-item:first-child li span:before,
    .track-items.owl-carousel .owl-item:last-child li a:after,
    .track-items.owl-carousel .owl-item:last-child li span:after {
        display: none;
    }
    .track-items.owl-carousel .owl-nav {
        position: relative;
        width: 100vw;
    }
    .track-items.owl-carousel .owl-nav .owl-prev {
        top: -29px;
        bottom: auto;
        left: 2%;
        height: 30px;
    }
    .track-items.owl-carousel .owl-nav .owl-next {
        top: -29px;
        bottom: auto;
        right: 11%;
        height: 30px;
    }
    .track-items.owl-carousel .owl-nav .owl-prev:before,
    .track-items.owl-carousel .owl-nav .owl-next:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 30px;
        text-align: center;
        content: "\e913";
        margin: 0;
        color: #939393;
        font-size: 14px;
    }

    .opc .step-title {
        margin: 0 -15px;
    }
    .opc .passed {
        padding-right: 30px;
    }
    #payment_form_authorizenet .input-box .v-fix,
    #payment_form_authorizenet > li {
        display: inline-block;
        position: relative;
    }
    .cc-label {
        padding-right: 3px !important;
        /*font-size: 18px;*/
    }
    .v-fix .cc-label {
        padding-left: 8px !important;
    }
    .sp-methods #payment_form_authorizenet > li {
        display: block;
    }
    #authorizenet_cc_type_cvv_div {
        float: left;
    }
    #ccTypeDisplay {
        float: right;
    }
    #co-payment-form .sp-methods> ul> li {
        float: left !important;
    }
    #p_method_paypal_direct + label,
    #p_method_authorizenet + label {
        -webkit-background-size: auto 35px;
        background-size: auto 35px;
    }

    /* Accordeons */
    .nav.nav-tabs.hidden-xs + .panel-group.visible-xs > .panel {
        margin-top: 0;
    }
    .nav.nav-tabs.hidden-xs + .panel-group.visible-xs > .panel > .panel-heading .panel-title {
        margin-right: -15px;
        margin-left: -15px;
    }
    .nav.nav-tabs.hidden-xs + .panel-group.visible-xs > .panel > .panel-heading {
        padding: 0px 0 5px;
    }
    .nav.nav-tabs.hidden-xs + .panel-group.visible-xs > .panel > .panel-heading a {
        position: relative;
        display: block;
        padding: 10px 20px;
        width: 100%;
        background-color: #efab01;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #ffffff;
        font-weight: normal;
        text-decoration: none!important;
    }
    .nav.nav-tabs.hidden-xs + .panel-group.visible-xs > .panel > .panel-heading a.collapsed {
        background-color: #add750;
    }
    .nav.nav-tabs.hidden-xs + .panel-group.visible-xs > .panel > .panel-heading a:before {
        display: block !important;
        content: '';
        position: absolute !important;
        top: 3px;
        left: 4px;
        height: calc(100% - 6px);
        width: calc(100% - 8px);
        border: 2px dashed #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .nav.nav-tabs.hidden-xs + .panel-group.visible-xs > .panel > .panel-heading a:not(.no-arrow):after {
        font-family: 'icomoon';
        display: inline-block;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        content: "\e902";
        position: absolute;
        top: 50%;
        margin-top: -5px;
        font-size: 12px;
        color: #fff;
        right: 13px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .nav.nav-tabs.hidden-xs + .panel-group.visible-xs > .panel > .panel-heading a.collapsed:after {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    .nav.nav-tabs.hidden-xs + .panel-group.visible-xs {}
    /* End Accordeons */

    .paypal-express-review html,
    .checkout-onepage-success html,
    .checkout-cart-index html,
    .checkout-onepage-index html,
    .paypal-express-review body,
    .checkout-onepage-success body,
    .checkout-cart-index body,
    .checkout-onepage-index body {
        min-height: 0;
    }

    .paypal-express-review .page,
    .checkout-onepage-success .page,
    .checkout-cart-index .page,
    .checkout-onepage-index .page {
        min-height: 100vh;
        height: 100%;
    }

    .paypal-express-review .footer,
    .checkout-onepage-success .footer,
    .checkout-cart-index .footer,
    .checkout-onepage-index .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .checkout-cart-index .main h1,
    .paypal-express-review .header .header-inner .header-navbar,
    .paypal-express-review .header .header-inner .header-cart,
    .paypal-express-review .header .header-inner .header-search,
    .checkout-onepage-success .header .header-inner .header-navbar,
    .checkout-onepage-success .header .header-inner .header-cart,
    .checkout-onepage-success .header .header-inner .header-search,
    .checkout-cart-index .header .header-inner .header-navbar,
    .checkout-cart-index .header .header-inner .header-cart,
    .checkout-cart-index .header .header-inner .header-search,
    .checkout-onepage-index .header .header-inner .header-navbar,
    .checkout-onepage-index .header .header-inner .header-cart,
    .checkout-onepage-index .header .header-inner .header-search {
        display: none !important;
    }

}

/* tablet horizontal + vertical  */
@media (min-width: 768px) and (max-width: 1200px) {
    #etalage .etalage_zoom_area,
    .etalage_zoom_area {
        left: 105% !important;
        width: 100% !important;
        overflow: hidden;
    }
    .container.navbar-nav-container {
        width: auto!important;
        padding: 0!important;
    }
    .unibanner-item.mixed .uni-text .uni-content {
        font-size: 48px;
        line-height: 1.2;
    }
    .footer .footer-social {
        width: 80%;
    }
    .footer .footer-social> li {
        display: table-cell;
        margin: 0;
    }
}

/* tablet horizontal  */
@media (min-width: 991px) and (max-width: 1200px) {



}

/* desktop */
@media (min-width: 1200px) {

}

/* tablet portrait  */
@media (min-width: 768px) and (max-width: 991px) {

    .container {
        width: 90%;
    }

    .unibanner-item.mixed .uni-text .uni-content {
        padding: 15px;
        font-size: 38px;
        line-height: 1.2;
    }

    .track .track-items li a i:before,
    .track .track-items li span i:before {
        font-size: 14px;
    }

}


/* not mobile */
@media (min-width: 768px) {

    /* header */

    .header-inner > .row {
        margin: 0!important;
    }

    /* navbar */

    .navbar.affix {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
        padding: 6px 0;
        margin: 0;
        width: 100%;
        border-radius: 0;
        border: 0;
        background-color: #fff;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    }
        .navbar.affix #navbar .navbar-nav> li> a {
            font-size: 14px;
        }

    .navbar.collapse {
        display: block!important;
        height: auto !important;
    }

    header .navbar {
        display: block;
    }

    .navbar-nav-container {
        border-top: 1px dashed #bed38f;
        border-bottom: 1px dashed #d7d7d7;
    }

    .navbar .navbar-nav {
        display: table;
        width: 100%;
        height: 100%;
        table-layout: auto;
    }

    .navbar .navbar-nav > li {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        float: none;
    }

    .navbar .navbar-nav > li > a {
        text-align: center;
        line-height: 1;
        font-size: 16px;
        font-weight: bold;
        padding: 20px 5px;
        height: auto;
    }

    .navbar.affix .navbar-nav > li > a {
        padding: 10px 5px;
    }

    .navbar.affix .navbar-nav {
        padding: 0 5%;
    }

    .navbar .navbar-nav > .open,
    .navbar .navbar-nav > .open:hover,
    .navbar .navbar-nav > .open:active,
    .navbar .navbar-nav > .open:focus,
    .navbar .navbar-nav > .active,
    .navbar .navbar-nav > .active:hover,
    .navbar .navbar-nav > .active:active,
    .navbar .navbar-nav > .active:focus,
    .navbar .navbar-nav > li:hover,
    .navbar .navbar-nav > li:active,
    .navbar .navbar-nav > li:focus {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .dropdown-menu {
        background-color: #dee5ee;
        border: 0;
        padding: 1px!important;
        min-width: 100%;
    }

    .dropdown-menu > li > a {
        background-color: #fff;
        color: #555;
        text-transform: none;
        font-size: 15px;
    }

    .dropdown-menu > li.last > a {
        margin-bottom: 0;
    }

    .navbar .dropdown-menu .dropdown  > a {
        padding-right: 31px!important;
    }

    .navbar .dropdown-menu .dropdown > a:before {
        /*content: "\e90e";
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -5px;
        font-size: 10px;
        color: #31a348;*/
    }

    .navbar .navbar-nav > .dropdown-right > .dropdown-menu {
        right: 0;
        left: auto;
    }

    .navbar .navbar-nav > .dropdown-right > .dropdown-menu:after,
    .navbar .navbar-nav > .dropdown-right > .dropdown-menu:before {
        right: 15px;
        left: auto;
    }

    .navbar .navbar-nav > .dropdown-right .dropdown-menu .dropdown-menu {
        left: auto;
        right: 100%;
    }

    /* footer */

    footer .copyright {
        margin-top: 15px;
    }

    /* footer nav */

    .footer-nav > ul > li {
        float: left;
        width: 33.33333333%;
    }


    .footer-nav ul > li.dropdown > a {
        font-size: 16px;
        color: #9ea3a7;
    }

    .footer-nav .dropdown-menu {
        position: relative;
        display: block;
        background-color: transparent;
        padding: 0;
        margin: 0;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .footer-nav .dropdown-menu:after,
    .footer-nav .dropdown-menu:before {
        display: none;
    }

    .footer-nav .dropdown-menu a,
    .footer-nav .dropdown-menu a:hover,
    .footer-nav .dropdown-menu a:active,
    .footer-nav .dropdown-menu a:focus {
        background-color: transparent;
        color: #fff;
    }
    /**/

    /**/

    /* content */

    .col-left.collapse {
        display: block!important;
    }

    /**/

    /* products-item */

    .products-item {
        padding: 15px;
    }

    .related-product .item .checkbox {
        padding: 0 15px;
    }

    /**/


    /* cart */

    .cart .cart-row .btn-edit {
        position: absolute;
        right: 15px;
        top: 15px;
        line-height: 1;
    }

    .cart .cart-row:last-child {
        border: 0;
    }

    .cart .cart-price-box {
    }

    /**/

    /* checkout opc */

    .opc-wrapper-opc {
        max-width: 715px;
        position: relative;
        margin: 0 auto;
    }


    .checkout label {
        padding-left: 0;
        padding-right: 0;
        text-transform: none;
        color: #6d7481;
        font-weight: normal;
        font-size: 14px;
    }

    .checkout.opc .btn-checkout {
        padding-left: 50px;
        padding-right: 50px;
    }

    /**/

    /* modal */

    .modal-dialog {
        margin: 75px auto;
    }
    .modal-footer .btn + .btn,
    .modal-footer .button + .button {
        margin: 0 15px;
    }

    /**/

    /* carousel */

    .carousel .carousel-controls.prev {
        left: -5%;
    }

    .carousel .carousel-controls.next {
        right: -5%;
    }

    /**/

    /* footer */

    footer .footer-payment {
        margin-bottom: 0;
    }

    /**/

    /* hide */

    .col-sorting-filter-button,
    .navbar .account-nav,
    .navbar .account-nav > li {
        display: none!important;
    }

}

@media (max-width: 480px) {

    .sorting .btn-filter > span {
        display: none;
    }

    .sorting .btn-filter > i {
        margin: 0 10px!important;
    }

    #my-orders-table,
    #my-orders-table tbody, #my-orders-table th, #my-orders-table tr {
        display: block;
    }
    #my-orders-table tr {
        border: 2px solid #fafafa;
    }
    #my-orders-table td {
        display: inline-block;
        width: 49%;
    }
    #my-orders-table tr td:nth-last-child(2) {
        background-color: #fafafa;
        color: #92b545;
    }
    #my-orders-table tr td:nth-last-child(2),
    #my-orders-table tr td:last-child {
        display: block;
        width: 100%;
        text-align: center;
    }
    #my-orders-table tr td.a-center a {
        color: #92b545;
    }
}

@media (min-width: 480px) {

    .sorting .btn-filter > i {
        display: none;
    }

}

@media (max-width: 991px) {
    .product-shop .qty-wrapper {
        width: 52%;
        white-space: nowrap;
    }
    .qty-group {
        max-width: 80%;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .product-shop .add-to-cart .wrap {
        margin-right: 5%;
    }
    .product-shop .add-to-cart .wrap button {
        padding-right: 30px;
        padding-left: 30px;
    }
    .product-view .add-to-links {
        margin-top: 41px;
    }
    .add-to-links a:before {
        margin-bottom: 10px;
        width: 100%;
    }
}
@media (min-width: 650px) and (max-width: 991px) {
    .dropdown-menu-cart {
        width: 60vw;
    }
}
@media (min-width: 405px) and (max-width: 991px) {
    .dropdown-menu-cart {
        right: -30px !important;
    }
}
@media (max-width: 767px) {

    #etalage {
        max-height: 380px;
    }

    #etalage .etalage_zoom_area,
    .etalage_zoom_area {
        left: 100% !important;
    }

    .product-shop .sizechart {
        float: right;
        margin-bottom: 15px;
        width: 40%;
    }
    .product-shop .sizechart .inner-block> div {
        display: block;
        text-align: right;
    }
    .product-shop .sizechart .inner-block> div.left {
        padding: 12px 5px 56px 0;
    }
    .product-shop .sizechart .inner-block> div.right {
        padding: 4px 6px;
        text-align: center;
    }
    .product-shop .sizechart .inner-block> div.right i {
        margin-right: 0;
        display: block;
    }
    .product-shop .sizechart .inner-block> div.right span {
        font-size: 14px;
    }
    .product-shop label[for="qty"] {
        display: inline-block;
        text-align: left;
        text-transform: uppercase;
    }
    .product-shop .qty-group {
        display: inline-table;
        width: 150px;
    }
    .product-view .add-to-links {
        display: block;
        float: left;
        margin: 25px 0 0;
        width: 100%;
    }
    .product-view .add-to-links {
        text-align: center;
    }
    .product-view .add-to-links > li {
        display: inline-block;
    }
    .product-view .add-to-links i {
        margin-right: 18px;
    }

    .qty-group .button-qty {
        background: none;
        border: 0;
    .box-shadow(none !important);
    }
    .qty-group .button-qty:active,
    .qty-group .button-qty:focus {
        border: 0;
    .box-shadow(none !important);
    }
    .qty-group .button-qty:before {
        display: none;
    }
    .qty-group .button-qty > i {
        color: #8f8f8f;
        font-size: 7px;
    }

    .product-view .product-shop .add-to-cart .wrap {
        padding: 0 15px;
        width: 100%;
    }
    .product-view .product-shop .add-to-cart .wrap:before {
        top: -6px;
        left: -2px;
        height: 33px;
        width: 42px;
    }

}